* {
    margin: 0;
    padding: 0;
    color:white;
}

section h1{
    color: white;
    text-align: center;
}

section p, h2, h3 {
    margin: 1vw 10vw;
    color:white;
    text-align: center;
}

section {
    padding: 15px 35px;
}

form {
    margin: 5vh auto;
}

input {
    display: block;
    margin: 15px auto;
    padding: 7px;
    width: 25vw;
}

button {
    color:white;
    margin-left: 43.8vw;
    padding: 7px;
}

